services:
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
      - MINIO_PRIVATE_PORT=9000
    volumes:
      - minio_data:/data
    command: ["server", "--address", "[::]:9000", "/data"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  caddy:
    build: caddy
    ports:
      - "4040:4040"
    environment:
      PORT: 4040
      API_URL: host.docker.internal:8080
      FRONTEND_URL: host.docker.internal:5173

volumes:
  minio_data:
    driver: local
  postgres_data:
    driver: local
