{
    auto_https off  # this caddy instance sits behind other proxies which handle tls
}

:{$PORT} {
    request_body {
        max_size 64MB
    }

    # API routing
    handle_path /api* {
        reverse_proxy {env.API_URL}
    }

    # Frontend routing
    route /* {
        reverse_proxy {env.FRONTEND_URL}
    }
}
